# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\csis\csis2420\ceGraphDFSvsBFS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
